# Dependencies
node_modules/

# Logs
logs/
*.log

# Environment files
.env

# Operating system files
.DS_Store
Thumbs.db

# Code coverage directories
coverage/

# Temporary files
*.tmp
*.temp

# IDE configuration files
.vscode/
.idea/

# Build files
build/
dist/

# Cache files
.cache/
